<section class="about">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="top">
          <h2><%= t('about.story_title')%></h2>
          <br>
          <p><%= t('about.story_p1')%></p>
          <p><%= t('about.story_p2')%></p>
        </div>
      </div>
    </div>
    <div class="row scroll-down">
      <div class="col-xs-12">
        <a href="#swim-show" class="scroll-anchor"><p><%= t('layouts.scroll') %></p>
        <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
      </div>
    </div>
  </div>
</section>

<section class="about-content" id="swim-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-sm-6">
          <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/about-swim.jpg', class: 'img-responsive' %>
        </div>
        <div class="col-sm-6">
          <h2><%= t('about.splash_title')%></h2>
          <br>
          <p><%= t('about.splashy')%></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="delimiter"></div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2><%= t('about.sizzle_title')%></h2>
        <br>
        <p><%= t('about.sizzle_part_one')%></p>
        <p><%= t('about.sizzle_part_two')%></p>
        <p><%= t('about.sizzle_part_three')%></p>
      </div>
    </div>
  </div>
</section>
