<section class="classifieds-head" role="banner">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="top">
        <h1>Classifieds</h1>
      </div>
    </div>
  </div>	<!-- end container -->
</section>

<section class="classifieds-content" id="swim-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @classified.each do |c| %>
          <div class="col-xs-12 col-sm-6 classifieds">
            <h1><%= c.company %></h1>
            <h4><%= c.position %></h4>
            <p><%= c.short_description %></p>
            <!-- Large modal -->
            <button type="button" class="btn btn-member" data-toggle="modal" data-target="#<%= c.id %>">View Details</button>
            <div class="modal fade bs-example-modal-lg" id="<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-2x"></i></span></button>
                  <div class="container">
                    <div class="row top">
                      <div class="col-sm-12">
                        <h1 style="margin-bottom: 0px;"><%= c.company %></h1>
                        <p style="margin-top: 0px;"><%= c.position %></p>
                      </div>
                    </div>
                    <div class="row show-more">
                      <div class="col-sm-6">
                        <p><%= c.short_description %></p>
                        <p><%= raw c.description %></p>
                      </div>
                      <div class="col-sm-6">
                        <p>Please contact us at:</p>
                        <p>
                          <strong><%= c.email %></strong><br>
                          <strong><%= c.website %></strong><br>
                          <strong><%= c.phone %></strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</section>
