<section class="contact">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-4 top">
        <h1>Contact Us</h1>
        <p>If you require additional information or personalized assistance,<br>please do not hesitate to contact us at:</p>
      </div>
    </div>
    <div class="delimiter"></div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-4">
        <h4>Mail</h4>
        <p class="info">Swimwear Association of Florida<br>8900 SW 117th Ave. Suite C-205<br>Miami, FL 33186</p>
        <h4>Phone / Fax</h4>
        <p class="info">305.596.7889 / 305.596.7713</p>
        <h4>Email</h4>
        <p class="info">info@swimshow.com</p>
      </div>
      <div class="col-sm-4">
        <%= form_for(@contact) do |f| %>
          <div class="row">
            <div class="col-xs-6">
              <%= f.text_field :first_name, placeholder: "First Name*" %>
            </div>
            <div class="col-xs-6">
              <%= f.text_field :last_name, placeholder: "Last Name*" %>
            </div>
          </div>
          <div class="delimiter25"></div>
          <div class="row">
            <div class="col-xs-6">
              <%= f.text_field :email, placeholder: "Email*" %>
            </div>
            <div class="col-xs-6">
              <%= f.text_field :subject, placeholder: "Subject*" %>
            </div>
          </div>
          <div class="delimiter25"></div>
          <div class="row">
            <div class="col-xs-12">
              <%= f.text_field :message, placeholder: "Message*" %>
              <br>
              <p class="info">* = Required</p>
              <div class="delimiter25"></div>
              <%= f.submit 'Send Message', class: 'btn btn-member' %>
            </div>
          </div>
        <% end %>
        <div class="delimiter"></div>
      </div>
    </div>
  </div>
</section>


<script charset="utf-8">
$(document).ready(function () {
  $("#new_contact").validate({
    // debug: true,
    rules: {
      "contact[first_name]": {required: true},
      "contact[last_name]": {required: true},
      "contact[email]": {required: true, email: true},
      "contact[subject]": {required: true},
      "contact[message]": {required: true}
    }
  });
});

</script>
