<section class="lines-head" role="banner">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="top">
          <h1>2014 Line List</h1>
          <p>2015 Line List Coming Soon </p>
        </div>
      </div>
    </div>
  </div>	<!-- end container -->
</section>

<section class="lines-content" id="swim-show">
  <div class="container-fluid">
    <div class="row">
    <span class="letter">A</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_a.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
    <span class="letter">B</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_b.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
    <span class="letter">C</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_c.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
    <span class="letter">D</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_d.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">E</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_e.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">F</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_f.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">G</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_g.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">H</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_h.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">I</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_i.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">J</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_j.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">K</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_k.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">K</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_k.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">L</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_l.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">M</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_m.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">N</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_n.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">O</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_o.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">P</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_p.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter100"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">Q</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_q.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter300"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">R</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_r.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">S</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_s.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">T</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_t.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter200"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">U</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_u.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter300"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">V</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_v.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter300"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">W</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_w.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter300"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">X</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_x.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter300"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">Y</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_y.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="delimiter300"></div>
  <div class="container-fluid">
    <div class="row">
      <span class="letter">Z</span>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @line_z.each do |a| %>
          <div class="col-xs-6 col-sm-2">
            <p><%= a.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="delimiter100"></div>
</section>
