<section class="exhibitors-head" role="banner">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="col-sm-12 col-md-4 col-md-offset-2 clearfix">
      <div class="top">
        <h1><%= t('exhibitors.title')%></h1>
        <p><%= t('exhibitors.info')%></p>
        <br>
        <p><strong><%= t('exhibitors.phone')%><br><%= t('exhibitors.fax')%><br><%= t('exhibitors.email')%></strong></p>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>
