<section class="media-head" role="banner">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1 clearfix">
        <div class="top">
          <h1><%= t('media.media_title')%><br><%= t('media.media_sub_title')%></h1>
        </div>
      </div>
    </div>
    <!-- <div class="row scroll-down">
      <div class="col-xs-12">
        <a href="#swim-show" class="scroll-anchor"><p>scroll down</p>
        <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
      </div>
    </div> -->
  </div>	<!-- end container -->
</section>

<section class="media-content" id="swim-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/headers/sunset.jpg', class: 'img-responsive' %>
          <br>
        </div>
        <div class="col-sm-12 col-md-6">
          <p><%= t('media.paragraph_one')%></p>
          <p><%= t('media.paragraph_two')%></p>
          <p><%= t('media.paragraph_three')%></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <p class="space"><%= t('media.requirements_note')%></p>
        <ol>
          <li><%= t('media.requirements_ls_one')%></li>
          <li><%= t('media.requirements_ls_two')%></li>
          <li><%= t('media.requirements_ls_three')%></li>
          <li><%= t('media.requirements_ls_four')%></li>
          <li><%= t('media.requirements_ls_five')%></li>
        </ol>
        <p class="space"><%= t('media.press_dinied_if')%></p>
        <ol>
          <li><%= t('media.press_one')%></li>
          <li><%= t('media.press_two')%></li>
          <li><%= t('media.press_three')%></li>
          <li><%= t('media.press_four')%></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="media-content-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 col-sm-6 rightb">
          <h2><%= t('media.require_ls_title')%></h2>
          <ul>
            <li><%= t('media.require_ls_one')%></li>
            <li><%= t('media.require_ls_two')%></li>
            <li><%= t('media.require_ls_three')%></li>
            <li><%= t('media.require_ls_four')%></li>
            <li><%= t('media.require_ls_five')%></li>
            <li><%= t('media.require_ls_six')%></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p><%= t('media.mail') %></p>
          <p><strong>Publicity Department Swimwear Association of Florida 8900 SW 117th Ave. Suite C-205 Miami, FL 33186</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pre-registration" id="registration">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>Online Media Registration</h1>
        <%= link_to 'Registration', media_registration_path, class: 'btn btn-member' %>
      </div>
    </div>
  </div>
</section>
