<section class="nightlife-head" role="banner">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-5 col-md-offset-1 clearfix">
      <div class="top">
        <h1>Miami Nightlife</h1>
      </div>
    </div>
    <div class="row scroll-down">
      <div class="col-xs-12">
        <a href="#swim-show" class="scroll-anchor"><p>scroll down</p>
        <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
      </div>
    </div>
  </div>
</section>

<section class="club-content" id="swim-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Design District | Midtown | Wynwood</h1>
      </div>
    </div>
    <div class="delimiter100"></div>
    <div class="row">
      <% @clubs_dmw.each do |c| %>
        <div class="col-sm-4">
          <div class="box">
            <h3><%= c.name %></h3>
            <p><%= c.address %></p>
            <p><%= c.phone %></p>
            <p class="hover"><%= c.short_description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @clubs_dmw %>
  </div>
</section>

<section class="club-content" style="background:#f7f7f7;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Miami Beach</h1>
      </div>
    </div>
    <div class="delimiter100"></div>
    <div class="row">
      <% @clubs_mb.each do |c| %>
        <div class="col-sm-4">
          <div class="box">
            <h3><%= c.name %></h3>
            <p><%= c.address %></p>
            <p><%= c.phone %></p>
            <p class="hover"><%= c.short_description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @clubs_mb %>
  </div>
</section>
