<section class="retailers-head" role="banner">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 clearfix">
      <div class="top">
        <h1><%= t('retailers.titleone')%><br><%= t('retailers.titletwo')%></h1>
        <p><%= t('retailers.subtitle')%></p>
      </div>
    </div>
  <!-- <div class="row scroll-down">
    <div class="col-xs-12">
      <a href="#swim-show" class="scroll-anchor"><p>scroll down</p>
      <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
    </div>
  </div> -->
  </div>	<!-- end container -->
</section>
<section class="retailer-content" id="swim-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/headers/palms.jpg', class: 'img-responsive' %>
          <br>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p><%= t('retailers.title_form_ls')%></p>
          <ul>
            <strong><li><%= t('retailers.form_ls_one')%></li></strong>
            <strong><li><%= t('retailers.form_ls_two')%></li></strong>
            <strong><li><%= t('retailers.form_ls_three')%></li></strong>
            <li><%= t('retailers.form_ls_four')%></li>
            <li><%= t('retailers.form_ls_five')%></li>
            <li><%= t('retailers.form_ls_six')%></li>
            <li><%= t('retailers.form_ls_seven')%></li>
            <li><%= t('retailers.form_ls_eight')%></li>
            <li><%= t('retailers.form_ls_nine')%></li>
            <li><%= t('retailers.form_ls_ten')%></li>
            <li><%= t('retailers.form_ls_eleven')%></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <p><%= t('retailers.photo_id_title')%></p>
        <ul>
          <li><%= t('retailers.photo_id_drive')%>Driver’s license or passport</li>
          <li><%= t('retailers.photo_id_gov')%></li>
          <li><%= t('retailers.photo_id_credit')%></li>
        </ul>
        <br>
        <p><%= t('retailers.photo_id_vet') %></p>
        <br>
        <p><%= t('retailers.photo_we')%></p>
        <br>
        <p><strong><%= t('retailers.photo_id_questions')%><br>Call 305.596.7889<br>Email <a href="mailto:info@swimshow.com" target="_top">info@swimshow.com</a></strong></p>
      </div>
    </div>
  </div>
</section>
<section class="pre-registration" id="registration">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= t('retailers.photo_bottom_page')%></h1>
        <%= link_to 'Pre-Registration', retailer_registration_path, class: 'btn btn-member' %>
      </div>
    </div>
  </div>
</section>
