<section class="swim-header">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 clearfix">
        <div class="col-sm-8 col-lg-6 top">

          <h1><%= t('overview.title')%></h1>

          <p><%= t('overview.part_one')%></p>
          <p><%= t('overview.part_two')%></p>
          <p><%= t('overview.part_three')%></p>
          <p><%= t('overview.part_four')%></p>

          <h2><%= t('overview.local')%></h2>
          <h3><%= t('overview.local_two')%></h3>
          <h4><%= t('overview.local_three')%></h4>
          <h4><%= t('overview.local_rooms')%></h4>
        </div>
      </div>
    </div>
    <div class="row scroll-down">
      <div class="col-xs-12">
        <a href="#swim-show" class="scroll-anchor"><p>scroll down</p>
        <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
      </div>
    </div>
  </div>	<!-- end container -->
</section>

<section class="swim-sect-2" id="swim-show">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="col-sm-6 col-sm-offset-6 top">
        <h1><%= t('overview.title_two')%></h1>
        <h3><%= t('overview.dive')%></h3>
        <p><%= t('overview.about')%></p>
        <p><%= t('overview.about_two')%></p>
        <p><%= t('overview.about_date')%></p>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
  <div class="row scroll-down">
    <a href="#next" class="scroll-anchor"><p>scroll down</p>
    <p class="font-a"><i class="fa fa-angle-down fa-2x"></i></p></a>
  </div>
</section>

<section class="section-counter" id="next">
  <div class="ce-countdown ce-countdown--theme-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2> <%=t('overview.ready')%></h2>
        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-3"><span class="ce-days"></span><br><h6 class="ce-days-label sub-info"></h6></div>
          <div class="col-sm-3"><span class="ce-hours"></span><br><h6 class="ce-hours-label sub-info"></h6></div>
          <div class="col-sm-3"><span class="ce-minutes"></span><br><h6 class="ce-minutes-label sub-info"></h6></div>
          <div class="col-sm-3"><span class="ce-seconds"></span><br><h6 class="ce-seconds-label sub-info"></h6></div>
        </div>
      </div>
      <div class="delimiter100"></div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="top-headline">
            <h3><em><%= t('overview.clock_enjoy') %><strong><%= t('overview.clock_swim')%></strong></em></h3>
          </div> <!-- end headline -->
        </div> <!-- end col-sm-8 -->
      </div>
    </div>
  </div>
</section>

<section class="swim-sect-3" id="next1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= t('overview.floor_plan')%></h1>
        <p><%= t('overview.coming_soon')%></p>
        <!-- <a target="_blank" href="https://s3.amazonaws.com/swim-show/Website+Images/FLOOR-PLAN-2015.pdf" class="btn btn-member">View Floorplan</a> -->
      </div>
    </div>
  </div>
</section>


<script>
  $(document).ready(function() {
    $('.ce-countdown').countEverest({
      //Set your target date here!
      day: 18,
                month: 7,
      year: 2015,
      pluralLabels: true
    });
  });
</script>
