<section>
    <div class="container-fluid">
      <div class="row">
        <br>
        <br>
        <%= form_for(@vr) do |f| %>
          <%= f.text_field :first_name %>
          <%= f.text_field :last_name %>
          <%= f.text_field :company %>
          <%= f.text_field :title %>
          <%= f.text_field :address_1 %>
          <%= f.text_field :address_2 %>
          <%= f.text_field :city %>
          <%= f.text_field :state %>
          <%= f.text_field :province %>
          <%= f.text_field :postal_code %>
          <%= f.text_field :country %>
          <%= f.text_field :email %>
          <%= f.text_field :opt_out_email %>
          <%= f.text_field :website %>
          <%= f.text_field :phone %>
          <%= f.text_field :extension %>
          <%= f.text_field :phone_2 %>
          <%= f.text_field :fax %>
          <%= f.text_field :opt_out_phone %>
          <%= f.text_field :type_of_store %>
          <%= f.text_field :status %>
          <%= f.text_field :number_of_stores %>
          <%= f.text_field :attended_swimshow %>
          <%= f.text_field :attended_other_tradeshows %>
          <%= f.text_field :any_other_tradeshow %>
          <%= f.text_field :mail_show_directory %>
          <%= f.text_field :product_id %>
        <% end %>
      </div>
    </div>
</section>
