<div class="paraeltop"></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <%= simple_form_for @vr do |f| %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :company %>
        <%= f.input :title %>
        <%= f.input :address_1 %>
        <%= f.input :address_2 %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :province %>
        <%= f.input :postal_code %>
        <%= f.input :country %>
        <%= f.input :email %>
        <%= f.input :opt_out_email %>
        <%= f.input :website %>
        <%= f.input :phone %>
        <%= f.input :extension %>
        <%= f.input :phone_2 %>
        <%= f.input :fax %>
        <%= f.fields_for :products do |p| %>
          <%= p.select :category, nil, {prompt: 'Select Category'} do %>
            <% [["Missy"],["Contemporary Missy"],["Contemporary"],["Designer"],["Lifestyle/Activewear"],["Junior"],["Contemporary Junior"],["Performance"],["Plus Sizes"],["Cover-Ups"],["Resortwear"],["Mastectomy"],["Separates"],["Bra Sized"],["Bra Sized Separates"],["Figure Control"],["Private Label"],["Children’s/Pre-Teens"],["Maternity"],["Accessories/Sandals"],["Men’s"],["Boy’s"],["Lingerie"]].each do |i| %>
              <%= content_tag(:option, i.first) %>
            <% end %>
          <% end %>
          <%= p.select :price_point, nil, {prompt: 'Wholesale Price Point'} do %>
            <% [["$30 & Below"],["$31-$60"],["$61-$100"],["$101-$150"],["$151 & Over"]].each do |i| %>
              <%= content_tag(:option, i.first) %>
            <% end %>
          <% end %>
        <% end %>
        <%= f.input :opt_out_phone %>
        <%= f.input :type_of_store %>
        <%= f.input :status %>
        <%= f.input :number_of_stores %>
        <%= f.input :attended_swimshow %>
        <%= f.input :attended_other_tradeshows %>
        <%= f.input :mail_show_directory %>
        <%= f.button :submit %>




        <% end %>
      </div>
    </div>
  </div>
</section>
