<div class="paraeltop"></div>
<section class="vendor-registration">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Retailer Registration</h1>
        <br>
        <p class="check2">Pre-Registration 2015</p>
        <%= simple_form_for @vr do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :first_name, placeholder: "First Name*", label: false, required: true %>
          </div>
          <div class="col-sm-6">
            <%= f.input :last_name, placeholder: "Last Name*", label: false %>
          </div>
        </div>
        <%= f.input :company, placeholder: "Company*", label: false %>
        <%= f.input :title, label: false, collection: ['Owner/Partner','President','Vice President','GMM','DMM','Buyer','Assistant Buyer','Store Manager','Merchandise Manager','Department Manager','Sales Staff'], prompt: "Select Title*", required: true %>
        <%= f.input :address_1, placeholder: "Address Line 1*", label: false %>
        <%= f.input :address_2, placeholder: "Address Line 2", label: false %>
        <div class="container-fluid inner">
          <div class="row">
            <div class="col-xs-6">
              <%= f.input :city, placeholder: "City*", label: false %>
            </div>
            <div class="col-xs-6">
              <%= f.select :state, options_for_select(us_states), prompt: "Select State" %>
            </div>
            <div class="col-xs-6">
              <%= f.input :postal_code, placeholder: "Postal Code*", label: false %>
            </div>
            <div class="col-xs-6">
              <%= f.input :province, placeholder: "Province", label: false %>
            </div>
          </div>
        </div>
        <%= f.select :country, options_for_select(countries_3), prompt: 'Please Select a Country*' %>
        <%# f.input :country, as: :country, priority: ["United States", "United Kingdom","Canada"], label: false, prompt: 'Please Select a Country*' %>
        <%= f.input :email, placeholder: "Email*", label: false %>
        <p class="info">In order to receive your pre registration bar code, which enables you to speed through retailer registration using our kiosks, you CAN NOT use the same email address for more than one person. Any questions, please contact the SAF Office</p>
        <p class="check2"><strong>Do you wish to opt-out your email from vendors/exhibitors?</strong></p>
        <%= f.input :opt_out_email,
        :collection => [['Yes','Yes, I would like to opt-out my email from vendor/exhibitors. I would only receive emails from the SAF office.' ], ['No', 'No, I would like to receive emails from vendors/exhibitors and the SAF office.']],
        :label_method => :last,
        :value_method => :first, as: :radio_buttons, label: false, required: true %>

        <%= f.input :instagram, placeholder: "Instagram", label: false %>
        <%= f.input :facebook, placeholder: "Facebook", label: false %>
        <%= f.input :twitter, placeholder: "Twitter", label: false %>


        <%= f.input :website, placeholder: "Website", label: false %>
        <div class="container-fluid inner">
          <div class="row">
            <div class="col-xs-8">
              <%= f.input :phone, placeholder: "Phone*", as: :tel, label: false %>
            </div>
            <div class="col-xs-4">
              <%= f.input :extension, placeholder: "Extension", label: false %>
            </div>
          </div>
        </div>

        <%= f.input :phone_2, placeholder: "Phone 2", as: :tel, label: false, area_code: true %>
        <p class="check2"><strong>Do you wish to opt-out your phone number from vendors/exhibitors?</strong></p>
        <%= f.input :opt_out_phone,
        :collection => [['Yes','Yes' ], ['No', 'No']],
        :label_method => :last,
        :value_method => :first, as: :radio_buttons, label: false, required: true %>
        <%= f.input :fax, placeholder: "Fax", label: false %>
        <br>

        <div class="container-fluid">
          <div class="row">
            <p class="check2"><strong>Insert your product categories and price points</strong></p>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h6>Select Category</h6>
            </div>
            <div class="col-xs-6">
              <h6>Wholesale Price Point</h6>
            </div>
          </div>
        </div>
        <div>
          <%= f.fields_for :products do |builder| %>
            <%= render 'product_fields', f: builder %>
          <% end %>
          <div class="row">
            <%= link_to_add_association 'Add Product', f, :products %>
          </div>

        </div>


        <%= f.input :type_of_store, label: false, collection: ['Department Store','Boutique','Specialty Store','Specialty Chain Store','Sporting Goods Store','Mass Merchant','Catalog','Buying Office','Online Retailer','Outlet Store','Resort/Spa Boutique/Pro Shop','Luxury Hotel','Discount | Off Price','Other'], prompt: "Type of Store*", required: true %>
        <%= f.input :status, label: false, collection: ['Buyer','Manager','Merchandise Manager','Owner'], prompt: 'Status*', required: true %>
        <%= f.input :number_of_stores, label: false, collection: ['1','2-5','6-20','More than 20'], prompt: 'Number of Stores*', required: true %>



        <p class="check2"><strong>Have you Attended our SwimShow in the Past?</strong></p>
        <%= f.input :attended_swimshow,
        :collection => [['Yes','Yes' ], ['No', 'No']],
        :label_method => :last,
        :value_method => :first, as: :radio_buttons, label: false, required: true,
        :html => { id: "test"} %>


        <div id="day" style="display:none;">
          <%= f.input :years_attended_show, label: false, placeholder: 'Have many years have you Attended SwimShow?' %>
        </div>

        <script>
          $('#vendor_registration_attended_swimshow_yes').on('change',function(){
            var selection = $(this).val();
            switch(selection){
              case "Yes":
                $("#day").show()
                break;
              default:
                $("#day").hide()
            }
          });

          $('#vendor_registration_attended_swimshow_no').on('change',function(){
            var selection = $(this).val();
            switch(selection){
              case "No":
                $("#day").hide()
                break;
              default:
                $("#day").show()
            }
          });
        </script>

        <p class="check"><strong>Other Tradeshows Attended</strong></p>
        <%= f.association :tradeshows, as: :check_boxes, label: false %>

        <%= f.input :other_tradeshow_name, placeholder: 'If other, let us know', label: false %>

        <p class="check2"><strong>Do you wish to have a show directory mailed to you prior to tradeshow?</strong><br>Domestic mailing only</p>
        <%= f.input :mail_show_directory,
        :collection => [['Yes','Yes' ], ['No', 'No']],
        :label_method => :last,
        :value_method => :first, as: :radio_buttons, label: false, required: true %>

        <%= f.input :comments, placeholder: 'Comments', label: false %>
        <%= f.submit 'Submit Retailer Pre-Registration', class: 'btn btn-member2' %>





        <% end %>
      </div>
    </div>
  </div>
</section>


<script>
// Vendor Registration Page
  // $("#new_vendor_registration").validate({
  //   rules: {
  //     "vendor_registration[first_name]": {required: true},
  //     "vendor_registration[last_name]": {required: true},
  //     "vendor_registration[company]": {required: true},
  //     "vendor_registration[title]": {required: true},
  //     "vendor_registration[address_1]": {required: true},
  //     "vendor_registration[city]": {required: true},
  //     "vendor_registration[postal_code]": {required: true},
  //     "vendor_registration[country]": {required: true},
  //     "vendor_registration[email]": {required: true, email: true},
  //     "vendor_registration[phone]": {required: true, minlength: 10},
  //     "vendor_registration[extension]": {required: false, digits: true},
  //     "vendor_registration[phone_2]": {required: false, minlength: 10},
  //     "vendor_registration[fax]": {required: false, digits: true, minlength: 10},
  //     "vendor_registration[type_of_store]": {required: true},
  //     "vendor_registration[status]": {required: true},
  //     "vendor_registration[number_of_stores]": {required: true}
  //   }
      // messages: {
      //   example5: "Just check the box<h5 class='text-error'>You aren't going to read the EULA</h5>"
      // },
      // tooltip_options: {
      //   example4: {trigger:'focus'},
      //   example5: {placement:'right',html:true}
      // },
  // });
  $('#vendor_registration_phone_2').mask('(000) 000-0000');
</script>
