<div class="paraeltop"></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <%= simple_form_for @vr do |f| %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :company %>
        <%= f.input :title %>
        <%= f.input :address_1 %>
        <%= f.input :address_2 %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :province %>
        <%= f.input :postal_code %>
        <%= f.input :country, as: :country, priority: ["United States", "United Kingdom","Canada"] %>
        <%= f.input :email %>
        <%= f.input :opt_out_email %>
        <%= f.input :website %>
        <%= f.input :phone %>
        <%= f.input :extension %>
        <%= f.input :phone_2 %>
        <%= f.input :fax %>

        <%= f.fields_for :products do |builder| %>
          <%= render 'product_fields', f: builder %>
        <% end %>


        <%= link_to_add_fields "Add Product", f, :products %>
        <%= f.input :opt_out_phone %>
        <%= f.input :type_of_store %>
        <%= f.input :status %>
        <%= f.input :number_of_stores %>
        <%= f.input :attended_swimshow %>
        <%= f.input :attended_other_tradeshows %>
        <%= f.input :mail_show_directory %>
        <%= f.button :submit %>




        <% end %>
      </div>
    </div>
  </div>
</section>


<script>
  jQuery ->
  $('form').on 'click', '.remove_fields', (event) ->
    $(this).prev('input[type=hidden]').val('1')
    $(this).closest('fieldset').hide()
    event.preventDefault()

  $('form').on 'click', '.add_fields', (event) ->
    time = new Date().getTime()
    regexp = new RegExp($(this).data('id'), 'g')
    $(this).before($(this).data('fields').replace(regexp, time))
    event.preventDefault()
</script>
