<section class="west-coast" role="banner">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="col-sm-12 col-md-6 top">
      <h1><%= t('west_coast.title')%></h1>
      <br>
      <p><%= t('west_coast.sum')%></p>
      <br>
      <!-- <h4>Bradenton Area Convention Center<br>Dates To Be Announced</h4> -->
      <h4><%= t('west_coast.date') %><br><%= t('west_coast.location') %> <br> <%= t('west_coast.location_two') %></h4>

      <br>
      <p><%= t('west_coast.breakfast') %><br><%= t('west_coast.hotel_info')%></p>
      <br>
      <li><%= link_to t('west_coast.line'), wc_lines_path, class: 'btn btn-member' %></li>
    </div>
  </div>
  <div class="delimiter">

  </div>
</section>