<h1>Contact Form</h1>
<br>
<strong>First Name:</strong> <%= @contact.first_name %><br>
<strong>Last Name:</strong> <%= @contact.last_name %><br>
<strong>Email:</strong> <%= @contact.email %><br>
<strong>Subject:</strong> <%= @contact.subject %><br>
<strong>Message:</strong> <%= @contact.message %><br>
<strong>Created At:</strong> <%= @contact.created_at %>
