<h1>Media Registration Form</h1>
<br>
<strong>First Name: </strong><%= @media.first_name %><br>
<strong>Last Name: </strong><%= @media.last_name %><br>
<strong>Title: </strong><%= @media.title %><br>
<strong>Other Title: </strong><%= @media.other %><br>
<strong>Publication: </strong><%= @media.publication %><br>
<strong>Type of Media: </strong><%= @media.type_of_media %><br>
<strong>Address: </strong><%= @media.address1 %><br>
<strong>Address 2:</strong><%= @media.address2 %><br>
<strong>City: </strong><%= @media.city %><br>
<strong>State: </strong><%= @media.state %><br>
<strong>Province: </strong><%= @media.province %><br>
<strong>Postal Code: </strong><%= @media.postal_code %><br>
<strong>Country: </strong><%= @media.country %><br>
<strong>Email: </strong><%= @media.email %><br>
<strong>Phone: </strong><%= @media.phone %><br>
<strong>Extension: </strong><%= @media.extension %><br>
<strong>Fax: </strong><%= @media.fax %><br>
<strong>Website: </strong><%= @media.website %><br>
<strong>Media Outlet: </strong><%= @media.media_outlet %><br>
<strong>Comments: </strong><%= @media.comments %>
