<h1>Media Registration Form</h1>
<br>
First Name: <%= @media.first_name %><br>
Last Name: <%= @media.last_name %><br>
Title: <%= @media.title %><br>
Other Title: <%= @media.other %><br>
Publication: <%= @media.publication %><br>
Type of Media: <%= @media.type_of_media %><br>
Address: <%= @media.address1 %><br>
Address 2:<%= @media.address2 %><br>
City: <%= @media.city %><br>
State: <%= @media.state %><br>
Province: <%= @media.province %><br>
Postal Code: <%= @media.postal_code %><br>
Country: <%= @media.country %><br>
Email: <%= @media.email %><br>
Instagram: <%= @media.instagram %><br>
Facebook: <%= @media.facebook %><br>
Phone: <%= @media.phone %><br>
Extension: <%= @media.extension %><br>
Fax: <%= @media.fax %><br>
Website: <%= @media.website %><br>
Media Outlet: <%= @media.media_outlet %><br>
Comments: <%= @media.comments %><br>
Created At: <%= @media.created_at %>
