<h1>Retailer Pre-Registration 2015 Form:</h1>
<br>
First Name: <%= @vendor.first_name %><br>
Last Name: <%= @vendor.last_name %><br>
Company: <%= @vendor.company %><br>
Title: <%= @vendor.title %><br>
Address Line 1: <%= @vendor.address_1 %><br>
Address Line 2: <%= @vendor.address_2 %><br>
City: <%= @vendor.city %><br>
State: <%= @vendor.state %><br>
Province: <%= @vendor.province %><br>
Postal Code: <%= @vendor.postal_code %><br>
Country: <%= @vendor.country %><br>
Email: <%= @vendor.email %><br>
Instagram: <%= @vendor.instagram %><br>
Facebook: <%= @vendor.facebook %><br>
Twitter: <%= @vendor.twitter %><br>
Opt out of Email: <%= @vendor.opt_out_email %><br>
Website: <%= @vendor.website %><br>
Phone: <%= @vendor.phone %><br>
Extension: <%= @vendor.extension %><br>
Other Phone: <%= @vendor.phone_2 %><br>
Fax: <%= @vendor.fax %><br>
Opt out of Phone: <%= @vendor.opt_out_phone %><br>
Type of Store: <%= @vendor.type_of_store %><br>
Status: <%= @vendor.status %><br>
Number of Stores: <%= @vendor.number_of_stores %><br>
Have you Attended SwimShow: <%= @vendor.attended_swimshow %><br>
Attended other Tradeshows: <% @vendor.tradeshows.each do |t| %><%= t.name %> &nbsp;<% end %><br>
Other Tradeshow Name: <%= @vendor.other_tradeshow_name %><br>
Wants the show directory to be sent via mail: <%= @vendor.mail_show_directory %><br>
Created at: <%= @vendor.created_at %>
