<h1>Retailer Registration Form:</h1>
<br>
<strong>First Name:</strong> <%= @vendor.first_name %><br>
<strong>Last Name:</strong> <%= @vendor.last_name %><br>
<strong>Company:</strong> <%= @vendor.company %><br>
<strong>Title:</strong> <%= @vendor.title %><br>
<strong>Address Line 1:</strong> <%= @vendor.address_1 %><br>
<strong>Address Line 2:</strong> <%= @vendor.address_2 %><br>
<strong>City:</strong> <%= @vendor.city %><br>
<strong>State:</strong> <%= @vendor.state %><br>
<strong>Province:</strong> <%= @vendor.province %><br>
<strong>Postal Code:</strong> <%= @vendor.postal_code %><br>
<strong>Country:</strong> <%= @vendor.country %><br>
<strong>Email:</strong> <%= @vendor.email %><br>
<strong>Opt out of Email:</strong> <%= @vendor.opt_out_email %><br>
<strong>Website:</strong> <%= @vendor.website %><br>
<strong>Phone:</strong> <%= @vendor.phone %><br>
<strong>Extension:</strong> <%= @vendor.extension %><br>
<strong>Other Phone:</strong> <%= @vendor.phone_2 %><br>
<strong>Fax:</strong> <%= @vendor.fax %><br>
<strong>Opt out of Phone:</strong> <%= @vendor.opt_out_phone %><br>
<strong>Type of Store:</strong> <%= @vendor.type_of_store %><br>
<strong>Status:</strong> <%= @vendor.status %><br>
<strong>Number of Stores:</strong> <%= @vendor.number_of_stores %><br>
<strong>Have you Attended SwimShow:</strong> <%= @vendor.attended_swimshow %><br>
<strong>Attened other Tradeshows:</strong> <%= @vendor.attended_other_tradeshows %><br>
<strong>Other Tradeshow Name:</strong> <%= @vendor.other_tradeshow_name %><br>
<strong>Wants the show directory to be sent via mail:</strong> <%= @vendor.mail_show_directory %><br>
<strong>Created at:</strong> <%= @vendor.created_at %>
