<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <%= link_to image_tag('https://s3.amazonaws.com/swim-show/Website+Images/swimshow_logo.svg', style: 'height: 100%;', alt: 'Miami Swim Show logo'), root_path, class: 'logo-header' %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                  <%= render 'layouts/links' %>
            </ul>
        </div>
        <!-- For Mobil Users -->
        <div class="ody-menu">

          <!-- ODY TRIGGER -->
          <div class="ody-trigger"><i class="fa fa-align-justify"></i></div>

          <!-- ODY MAIN MENU -->
          <ul class="ody-main-menu">
            <li><a href="#" id="dropdown">Swimshow <i class="fa fa-caret-down"></i></a>
              <ul>
               <li><%= link_to t('layouts.overview'), swimshow_path %></li>
               <li><%= link_to t('layouts.show_dates'), show_dates_path %></li>
               <li><%= link_to t('layouts.special_events'), special_events_path %></li>
               <li><%= link_to t('layouts.floor_plan'), coming_soon_path %></li>
               <li><%= link_to t('layouts.exhibitors'), exhibitors_path %></li>
               <li><%= link_to t('layouts.retailers'), retailers_path %></li>
               <li><%= link_to t('layouts.media'), media_path %></li>
               <li><%= link_to t('layouts.travel'), travel_path %></li>
              </ul>
            </li>
            <li><%= link_to t('layouts.current_lines'), current_lines_path %></li>
            <li><%= link_to t('layouts.gallery'), gallery_path %></li>
            <li><%= link_to t('layouts.classifieds'),classifieds_path %></li>
            <li><%= link_to t('layouts.west_coast_regional'), west_coast_regional_path %></li>
            <li><%= link_to t('layouts.about_us'), about_path %></li>
            <li><%= link_to t('layouts.contact'), contact_path %></li>
            <li style="border-top: #303030 solid .1em;"><a href="#" id="dropdown2">Languages: <i class="fa fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Français</a></li>
                <li><a href="#">Italiano</a></li>
                <li><a href="#">Español</a></li>
                <li><a href="#">Português</a></li>
              </ul>
            </li>
          </ul>
        </div> <!-- Mobile End -->
    </div>
    <!-- /.container -->
</nav>
