<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <%= link_to image_tag('https://s3.amazonaws.com/swim-show/Website+Images/swimshow_logo.svg', style: 'height: 100%;', alt: 'Miami Swim Show logo'), root_path, class: 'logo-header' %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                  <%= render 'layouts/links' %>
            </ul>
        </div>
        <!-- For Mobil Users -->
        <div class="ody-menu">

          <!-- ODY TRIGGER -->
          <div class="ody-trigger"><i class="fa fa-align-justify"></i></div>

          <!-- ODY MAIN MENU -->
          <ul class="ody-main-menu">
            <li><a href="#" id="dropdown">Swimshow <i class="fa fa-caret-down"></i></a>
              <ul>
                <li><%= link_to 'Overview', swimshow_path %></li>
                <li><%= link_to 'Show Dates', show_dates_path %></li>
                <li><%= link_to 'Special Events', special_events_path %></li>
                <li><%= link_to 'Floor Plan', coming_soon_path %></li>
                <li><%= link_to 'Exhibitors', exhibitors_path %></li>
                <li><%= link_to 'Retailers', retailers_path %></li>
                <li><%= link_to 'Media', media_path %></li>
                <li><%= link_to 'Travel', travel_path %></li>
              </ul>
            </li>
            <li><%= link_to 'Current Lines', current_lines_path %></li>
            <li><%= link_to 'Gallery', gallery_path %></li>
            <li><%= link_to 'Classifieds', classifieds_path %></li>
            <li><%= link_to 'West Coast Regional', west_coast_regional_path %></li>
            <li><%= link_to 'About Us', about_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
            <li style="border-top: #303030 solid .1em;"><a href="#" id="dropdown2">Languages: <i class="fa fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Français</a></li>
                <li><a href="#">Italiano</a></li>
                <li><a href="#">Español</a></li>
                <li><a href="#">Português</a></li>
              </ul>
            </li>
          </ul>
        </div> <!-- Mobile End -->
    </div>
    <!-- /.container -->
</nav>
