<!DOCTYPE HTML>
<html>
<head>
  <title>SwimShow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Page Loader -->
  <!-- <div class="page-loader">
    <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/loader.gif', alt: 'loader' %>
  </div> -->
  <div id="wrapper">

    <%= render 'layouts/language' %>

    <%= render 'layouts/header' %>

    <div class="ody-content">

      <%= yield %>

      <%= render 'layouts/footer' %>

    </div>
  </div>

  <script>
    (function() {
      [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
        new SelectFx(el);
      } );
    })();
  </script>

</body>
</html>
